@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');



html {
  font-family: 'Poppins', sans-serif;
}

body{
  font-family: 'Poppins', sans-serif;
}

.rightBarBody {
  height: 100%;
  width: 25%;
  right: 0;
  position: fixed;
  background-color: #fece99;
  padding-left: 40px;
  padding-right: 110px;
  top: 0px;
}

.name {
  font-size: 30px;
  margin-top: 10%;
  font-family: 'Poppins', sans-serif;
}

.upcomming {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.dropdown {
  width: 150px;
  height: 26px;
  background-color: #F2AF64;
  border-radius: 20px;
  padding-top: 2px;
  float: right;
  font-size: 15px;
  margin-right: 40px;
  font-family: 'Poppins', sans-serif;

}

.icon {
  margin-top: 30%;
}

.rowFlex{
  display: flex;
}

.iconTag{
  padding-top: 10px;
  padding-left: 10px;
  color: #E59C4C;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.iconTag2{
  margin-top: -15px;
  padding-left: 10px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}
.calendarIcon{
  width: 40px;
  font-family: 'Poppins', sans-serif;
}

.peopleGoingText{
  color: black;
  margin-top: 70px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}



.circleIcon{
  border-radius: 50px;
  background-image: url('https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg');
   background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
}

.sidebarPicImage{
  margin-left: -60px;
  margin-top: 60px;
  width: 482px;
  height: 311px;
  font-family: 'Poppins', sans-serif;
}

.leftbar {
  height: 100%;
  width: 6%;
  background-color: rgb(255, 255, 255);
  left:0;
  position: fixed;
  padding-left: 30px;
  padding-top: 50px;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  font-family: 'Poppins', sans-serif;
  
}

.leftBarIcon {
  width: 35px;
  margin-left: 10px;
  margin-top: 33px;
  filter: invert(83%) sepia(15%) saturate(306%) hue-rotate(314deg) brightness(83%) contrast(91%);
}

.selectedIcon{
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(238deg) brightness(97%) contrast(97%);
}

.leftBarIconPressed {
  width: 35px;
  margin-left: 10px;
  margin-top: 33px;
  filter: invert(74%) sepia(7%) saturate(687%) hue-rotate(314deg) brightness(98%) contrast(81%);



}

.box-stats-dashboard{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  min-height: 200px;
  width: 60vw;
  background: #868A73;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 5vw;
  font-family: 'Poppins', sans-serif;

}

.divider-left-bar{
  margin-left: -30px;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
}

.centerSection{
  width: 60%;
  margin-left: 6%;
  height: 100vh;
  margin-top: -3vh;
  font-family: 'Poppins', sans-serif;
}

.stats-box-title{
  color: white;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}


.stats-box-subtitle{
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.stats-box-interior{
  margin-top: 5%;
  font-family: 'Poppins', sans-serif;
}

.vl {
  border-left: 1px solid white;
  height: 80%;
  font-family: 'Poppins', sans-serif;

}

.icon-topbar{
  width: 30px;
  height: 30px;
  filter: invert(18%) sepia(87%) saturate(7469%) hue-rotate(268deg) brightness(101%) contrast(100%);
  margin-top: 2rem;
  margin-left: 2rem;
  font-family: 'Poppins', sans-serif;


}

.topbar-container{
  width: 110%;
  margin-top: 2%;
  margin-left: 2%;
  font-family: 'Poppins', sans-serif;
}

.topbar-text{
  font-size: 25px;
  font-weight: bold;
  margin-top: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.eventBox{
  height: 70px;
  width:400px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  padding-top: 9px;
  padding-left: 4px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;

}

.eventBoxContainer {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}


.chatBox{
  height: 45rem;
  width:450px;
  background-color: white;
  margin-left: 150px;
  margin-top: 100px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;

}

.chatBoxtitle{
  padding-top: 20px;
  font-weight: bold;
  font-size: 25px;
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
}

.someBackground{
  background-color: #F8F8F8;
  font-family: 'Poppins', sans-serif;
}

.chatBoxSubmitBox{
  height: 50px;
  width: 32rem;
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

.chatBoxSubmitButton{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
}

.chatBoxContent{
  height: 67%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 30px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: 'Poppins', sans-serif;

}

.profilePicChatContent{
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
}

.chatBoxContentSpaced{
  margin-left: 30px;
  margin-top: 20px;
  float: right;
  font-family: 'Poppins', sans-serif;

}

.chatBoxContentSpacedLeft{
  margin-left: 30px;
  margin-top: 20px;
  float: left;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.chatContentDashboardMessage{
  max-width: 28rem;
  font-family: 'Poppins', sans-serif;
}

.chatContentDashboardContentContainer{
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
}

.chatContentDashboardContentContainerRight{
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: right;
}

.galleryitem{
  width: 274px;
  height: 274px;
  margin-top: 30px;
  margin-left: 3rem;
  /*
  background-image: url("https://images.squarespace-cdn.com/content/v1/5943b11db3db2be040e6fa54/1526228388073-OV5CW9SOJULLH9F8ZLXM/Image-coding.jpg?format=1500w");
  */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  font-weight: bold;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}

.plusIconGallery{
  margin-top: 35px;
  margin-left: 10px;
  width: 50px;
  filter: invert(17%) sepia(97%) saturate(5734%) hue-rotate(266deg) brightness(103%) contrast(101%);
  font-family: 'Poppins', sans-serif;
}

.plusIconGalleryClick{
  cursor: pointer;
}

.projectGalleryTitle{
  font-size: 45px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
    padding-left: 3rem;
  Padding-top: 3rem;
  font-family: 'Poppins', sans-serif;
}

#modalHeader{
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

#modalSubhead{
  font-size: 15px;
  font-family: 'Poppins';
  font-family: 'Poppins', sans-serif;
}

.createProjectModalInput{
  font-size: 20px;
  font-family: "Poppins";
  height: 40px;
  width: inherit;
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 30px;
  padding-left: 10px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
}

#modalBody{
  width: inherit;
  font-family: 'Poppins', sans-serif;
}

.itemname{
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 55px;
  margin-top: 180px;
  background-color: #f7f7f7;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
}

.projectname{
  margin-left: 15px;
  margin-top: 3px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.map-icon { 
  width: 30px;
  filter: invert(94%) sepia(0%) saturate(7477%) hue-rotate(296deg) brightness(116%) contrast(105%);


}

.padding-0 {
  padding-right:0;
  padding-left:0;
}

.eventName{
  color: black;
  font-family: 'Poppins', sans-serif;

}

.eventDate {
  color: #B5AAAA;
  margin-top: -5px;
  font-family: 'Poppins', sans-serif;
}



.logout-txt {
  color: red;
  margin-top: 7%;
  float: right;
  right: 0;
  font-size: 20px;
  margin-left: 10%;
  font-family: 'Poppins', sans-serif;
}

.inperson {
  height: 50px;
  width: 50px;
  background-color: #0972D2;
  border-radius: 10px;
  padding-top: 7px;
  font-family: 'Poppins', sans-serif;

}

.online {
  height: 50px;
  width: 50px;
  background-color: #EFBA30;
  border-radius: 10px;
  padding-top: 7px;
}

.eventsSec {
  font-weight: bold;
  margin-top: 90px;
  margin-left: 70px;
  

}

.eventBigBox {
  max-height: 45rem;
  width:450px;
  margin-left: 70px;
  overflow:auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: 'Poppins', sans-serif;
}

/* Messages CSS */
.messagesPageSideBar{
  width: 30vh;
  height: 80vh;
  background-color: #F3F3F3;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 5px 0px 0px 5px;
}

.messagesPageHead{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 10%;
  font-family: 'Poppins', sans-serif;
}

.messagesPageClubChat{
  margin-left: 10%;
  margin-top: 15%;
  font-family: 'Poppins', sans-serif;
}

.messagesPageMainBar{
  width: 100vh;
  height: 80vh;
  margin-left: 0%;
  margin-top: 5%;
  border-radius: 0px 5px 5px 0px;
}

.messagesPageContentBox{
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 90%;
  font-family: 'Poppins', sans-serif;
}

.messagesPageTextBox{
  width: 90vh;
  height: 50px;
  background-color: #EEEEEE;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 100px;
  padding-left: 2vh;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.messagesPageSendButton{
  background-color: #8321FF;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 35px;
  color: white;
  transition: 0.3s;
  
}

.messagesPageSendButton:hover{
  background-color: #a062f1;
}

.sendBarMessagesPage{
  position: absolute;
  bottom: 8vh;
}

/* Messages Page From Message*/
.messagesPageMessageFrom{
  height: inherit;
  width: 45%;
  background-color: #8321FF; 
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 47vh;
}

.messagesPageMessageFromTitle{
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-left: 5%;
  padding-top: 3%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  
}

.messagesPageMessageFromText{
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;

}

/* Messages Page To Message*/
.messagesPageMessageTo{
  height: inherit;
  width: 45%;
  background-color: #DDDDDD; 
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 5%;
  font-family: 'Poppins', sans-serif;
}

.messagesPageMessageToTitle{
  color: black;
  font-family: 'Poppins', sans-serif;
  padding-left: 5%;
  padding-top: 3%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  
}

.messagesPageMessageToText{
  color: black;
  font-family: 'Poppins', sans-serif;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;

}

.fghjk {
  padding-left: 100px;
}