.rightBarBody {
  height: 100%;
  width: 25%;
  right: 0;
  position: fixed;
  background-color: #fece99;
  padding-left: 40px;
  padding-right: 110px;
  top: 0px;
}

.name {
  font-size: 30px;
  margin-top: 10%;
}

.upcomming {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
}

.dropdown {
  width: 150px;
  height: 26px;
  background-color: #F2AF64;
  border-radius: 20px;
  padding-top: 2px;
  float: right;
  font-size: 15px;
  margin-right: 40px;

}

.icon {
  margin-top: 30%;
}

.rowFlex{
  display: flex;
}

.iconTag{
  padding-top: 10px;
  padding-left: 10px;
  color: #E59C4C;
  font-size: 20px;
}
.iconTag2{
  margin-top: -15px;
  padding-left: 10px;
  font-size: 17px;
}
.calendarIcon{
  width: 40px;
}

.peopleGoingText{
  color: black;
  margin-top: 70px;
  font-size: 20px;
}

.circleIcon{
  border-radius: 50px;
  background-image: url('https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg');
   background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.sidebarPicImage{
  margin-left: -60px;
  margin-top: 60px;
  width: 482px;
  height: 311px;
}

.leftbar {
  height: 100%;
  width: 6%;
  background-color: rgb(255, 255, 255);
  left:0;
  position: fixed;
  padding-left: 25px;
  padding-top: 50px;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  
}

.leftBarIcon {
  width: 40px;
  margin-left: 10px;
  margin-top: 33px
}

.box-stats-dashboard{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  min-height: 200px;
  width: 50vw;
  background: #868A73;
  border-radius: 20px;
  margin-top: 50px;

}

.divider-left-bar{
  margin-left: -30px;
}

.centerSection{
  width: 60%;
  margin-left: 6%;
  height: 100vh;
  margin-top: -3vh;
}

.stats-box-title{
  color: white;
  font-size: 25px;
}


.stats-box-subtitle{
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.stats-box-interior{
  margin-top: 5%;
}

.vl {
  border-left: 1px solid white;
  height: 80%;

}

.icon-topbar{
  width: 30px;
  height: 30px;
  filter: invert(18%) sepia(87%) saturate(7469%) hue-rotate(268deg) brightness(101%) contrast(100%);
  margin-top: 2rem;
  margin-left: 2rem;


}

.topbar-container{
  width: 180px;
  margin-top: 2%;
  margin-left: 2%;
}

.topbar-text{
  font-size: 25px;
  font-weight: bold;
  margin-top: 1.5rem;
}

.eventBox{
  height: 70px;
  width:400px;
  background-color: white;
  margin-left: 150px;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;

}


.chatBox{
  height: 45rem;
  width:450px;
  background-color: white;
  margin-left: 150px;
  margin-top: 100px;
  border-radius: 20px;

}

.chatBoxtitle{
  padding-top: 20px;
  font-weight: bold;
  font-size: 25px;
  margin-left: 30px;
}

.someBackground{
  background-color: #F8F8F8;
}

.chatBoxSubmitBox{
  height: 50px;
  width: 32rem;
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  font-size: 25px;
}

.chatBoxSubmitButton{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 20px;
}

.chatBoxContent{
  height: 67%;

}

.profilePicChatContent{
  margin-top: 20px;
  margin-left: 20px;
}

.chatBoxContentSpaced{
  margin-left: 30px;
  margin-top: 20px;
}

.chatContentDashboardMessage{
  max-width: 30rem;
}

.chatContentDashboardContentContainer{
  margin-left: 15px;
}

.chatContentDashboardContentContainerRight{
  margin-right: 15px;
  text-align: right;
}